[submodule "dep/iniparser"]
	path = dep/iniparser
	url = https://github.com/ndevilla/iniparser.git
[submodule "dep/ssukits"]
	path = dep/ssukits
	url = https://github.com/jj4jj/ssukits.git
[submodule "dep/protobuf"]
	path = dep/protobuf
	url = https://github.com/jj4jj/protobuf.git
[submodule "dep/ssdb"]
	path = dep/ssdb
	url = https://github.com/jj4jj/ssdb.git
[submodule "dep/twemproxy"]
	path = dep/twemproxy
	url = https://github.com/jj4jj/twemproxy.git
[submodule "dep/hiredis"]
	path = dep/hiredis
	url = https://github.com/jj4jj/hiredis.git
[submodule "xlsconverter"]
	path = xlsconverter
	url = git@github.com:jj4jj/xlsconverter.git
[submodule "tools/xlsconverter"]
	path = tools/xlsconverter
	url = git@github.com:jj4jj/xlsconverter.git
